<div  class="mb-5">
<nav class="navbar  navbar-dark navbar-expand-md py-3 fixed-top ">
<div class="container-fluid">
    <!--Brand name: Always shown, not a part of the collapse-->
    <a id="nav-brand" class="navbar-brand" href="/"><span class="material-symbols-outlined">
      House
      </span></a>
<!--Setting up collapse button so on smaller screens (mobile) there is a hamburger menue button-->
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<!--Creating the collapse div our button will work with-->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!--This list is our main nav bar with links to each page-->
  <ul class="navbar-nav me-auto mb-2 mb-lg-2">
    <li id="nav-about" class="nav-item">
      <a class="nav-link" href="/about" name="about-link">About</a>
    </li>
    <li id="nav-experience" class="nav-item">
      <a class="nav-link" href="/experience">Work Experience</a>
    </li>
    <li id="nav-work" class="nav-item">
      <a class="nav-link" href="/projects">Projects</a>
    </li>
    <li id="nav-work" class="nav-item">
      <a class="nav-link" href="/pricing">Pricing</a>
    </li>
    <li id="nav-contact" class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>   
  </ul>
  <!--Adding a form that acts as a button, when clicked will download the asset containing my resume, this will be at the far right of the nav bar, or at the bottom-->
  <form class="d-flex" role="search">
    <a id="resume-download" href="DylanMorganResume.pdf" download="Dylan Morgan Resume.pdf" class="btn btn-outline-info" type="submit">Download Resume</a>
  </form>
  <br>
</div>
</div>
</nav>
</div>
