<nav class="navbar  navbar-dark navbar-expand-md py-0 fixed-top">
<div class="container-fluid">
    <a id="nav-brand" class="navbar-brand" href="/">Dylan Morgan</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li id="nav-about" class="nav-item">
      <a class="nav-link" href="/about" name="about-link">About</a>
    </li>
    <li id="nav-experience" class="nav-item">
      <a class="nav-link" href="/experience">Work Experience</a>
    </li>
    <li id="nav-work" class="nav-item">
      <a class="nav-link" href="/projects">Projects</a>
    </li>
    <li id="nav-contact" class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>   
  </ul>
  <form class="d-flex" role="search">
    <a id="resume-download" href="DylanMorganResume.pdf" download="Dylan Morgan Resume.pdf" class="btn btn-outline-info" type="submit">Download Resume</a>
  </form>
</div>
</div>
</nav>
