<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md-9 offset-md-1">
        <h4 class="highlight">About Me <hr></h4>
        <div class="row">
            <div class="col-md-3">
                <p class="highlight">Sic Parvis Magna:</p> 
            </div>
            <div class="col">
                <h6>My Start</h6>
                <p>Hello! My name is <b class="highlight" >Dylan</b> and I enjoy all sorts of creative projects...especially with problem solving!
                My desire to learn programming dates back to the 8th grade. Fascinated and intrigued by many video games I wanted to learn more.
                I wanted to find out what makes them tick.</p>

                <p> It was that summer, before starting school, that I decided to research different aspects of 
                making my own game. I came across the ever so important 'Programming Languages' and <span class="highlight">C++</span> stood out to me. After a bit more digging I found 
                an amazing set of free tutorials online and began the endevour. I spent countless hours programming and trying my own little projects with
                what I had learned. I cannot tell you how many times I suddenly realized it was 3am on a school night!</p>
                <p>That was the start of one of if not my largest passion in life. Programming! At that point I was making
                custom console based applications to help with my homework. But I wanted to learn more! So I began looking into various graphics libraries.
                I dabbled in <span class="highlight">Allegro</span> before settling into learning <span class="highlight">SFML</span> I preferred the compatibility
                and implementations of it. I began making clones of classic games like Pong, Brick Breaker, Astroids, etc before attempting a larger project and 
                making a simple platformer with a couple of levels.</p>

                <p>Now if we fast forward to College I began a dual major in <span class="highlight">Software and Embedded Systems Engineering</span>, in what little
                free time I had between working and school I still spent a lot of time practicing other languages and that is when my interest in 
                <span class="highlight">Web Development</span> began. I started by learning the basic front end stuff such as: <span class="highlight">HTML, CSS, and JS</span>
                This was great for making some basic sites for fun and to help organize myself. But I heard the call to backend and making the routes work rather than
                just loading a different html file. To do this I chose to learn fullstack development. I first learned the <span class="highlight">MEAN stack</span>
                today I am working on changing to the <span class="highlight">MERN stack</span> to adapt to the ever changing world of web development.
                Along the way I have also dabbled in <span class="highlight">Ruby, Python, C, C#, R, SQL, and MongoDB</span></p>
                
                <p>
                    My favorite part of my journey's beginning is still my favorite, and that is the passion for learning new technologies and expanding 
                    my knowledge of the ones I use all the time. I love getting the chance to work with new technologies and working with ones I know well.
                    In fact <span class="highlight"> this very site </span> is a form of practice using the following technologies:
                </p>
                <div class="col ">
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="highlight">HTML5</span></li>
                        <li class="list-inline-item"><span class="highlight">CSS</span></li>
                        <li class="list-inline-item"><span class="highlight">JS</span></li>
                        <li class="list-inline-item"><span class="highlight">Node.js</span></li>
                        <li class="list-inline-item"><span class="highlight">Express.js</span></li>
                        <li class="list-inline-item"><span class="highlight">Jquery</span></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
