<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <h6 class="highlight">Have a cool project idea?</h6>
        <h1><b>Get In Touch</b></h1>
        <p class="faded">
            My inbox is open if you want to talk about a project or have any questions. 
            I am currently looking for more opportunities to work and would love to hear from you!  
        </p>
        <div class="d-grid gap-2">
            <a class="btn btn-outline-info" rel="noopener noreferrer" href="mailto:dmorgan98101+resume@gmail.com">Reach Out!</a>
        </div> 
    </div>
</div>