<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md-9 offset-md-1">
        <h4 class="highlight">Work Experience<hr></h4>

        <div class="row">
            <p>Here you can learn about my work experience and the variety of skills trained in each!</p>
            <div class="col-lg-5">
                <p class="highlight">Automotive Technician | Kiefer Mazda <br> (03/2023 - present)</p> 
            </div>
            <div class="col">
                <p>As a certified Mazda automotive technician I can perform most non diagnostic vehicle maintenance and 
                    repairs. Along with simple diagnostics such as looking for obvious leaks, bad belts, brake pad measurements, etc.
                    Most of the time I am performing oil changes, tire rotations, tire repair, tire replacement, or trip checks.
                </p>
                <h5 class="faded">Skill Highlights</h5>
                <div class="col">
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="highlight">Mechanical Knowledge</span></li>
                        <li class="list-inline-item"><span class="highlight">Power Tools</span></li>
                        <br>
                        <li class="list-inline-item"><span class="highlight">Using An Automotive Ticketing App</span></li>                 
                    </ul>   
                </div>                
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-lg-5">
                <p class="highlight">Master Tech | Batteries Plus Bulbs <br> (05/2021 - 12/2022)</p> 
            </div>
            <div class="col">
                <p>Perform a wide range of services from car battery installation to cellphone and tablet repairs. 
                    Also rebuild battery packs for a wide range of devices including drills and scooters. 
                    Inform the customer of current promotions and help then find their lighting and battery solutions.
                    Work with both retail customers and commercial customers to make sure that not only are their 
                    needs met, but their expectations are surpassed.
                </p>
                <h5 class="faded">Skill Highlights</h5>
                <div class="col">
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="highlight">Customer Service</span></li>
                        <li class="list-inline-item"><span class="highlight">Commercial Support</span></li>
                        <br>
                        <li class="list-inline-item"><span class="highlight">Hardware Repair</span></li>
                        <li class="list-inline-item"><span class="highlight">Battery Knowledge</span></li>
                    </ul>   
                </div>                
            </div>
        </div>
        <hr>


        <div class="row">
            <div class="col-lg-5">
                <p class="highlight">Specialty Sales Team Member | Target <br> (09/2019 - 05/2021)</p> 
            </div>
            <div class="col">
                <p>Assist guests in finding electronics and answering any questions that they need or want. "Build the basket."
                    So that they get the most out of their new items. Assist in setting up new mobile devices.
                </p>

                <h5 class="faded">Skill Highlights</h5>
                <div class="col">
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="highlight">Customer Service</span></li>
                        <li class="list-inline-item"><span class="highlight">Technical Support</span></li>
                        <br>
                        <li class="list-inline-item"><span class="highlight">Sales</span></li>
                        <li class="list-inline-item"><span class="highlight">Customer Feedback</span></li>
                    </ul>   
                </div>                
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-5">
                <p class="highlight">Technical Repair Advisor | Bend Broadband <br> (05/2019 - 07/2019)</p> 
            </div>
            <div class="col">
                <p>Took inbound calls from both residential and commercial customers to assist in troubleshooting internet,
                    phone, and cable issues. When needed scheduled for a field tech to go out. Updated detailed notes in 
                    customer record.
                </p>
                <h5 class="faded">Skill Highlights</h5>
                <div class="col">
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="highlight">Customer Service</span></li>
                        <li class="list-inline-item"><span class="highlight">Remote Support</span></li>
                        <br>
                        <li class="list-inline-item"><span class="highlight">ISP Troubleshooting</span></li>
                        <li class="list-inline-item"><span class="highlight">Commercial Support</span></li>
                    </ul>   
                </div>                
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-5">
                <p class="highlight">Senior Technical Support Advisor | IBEX Global <br> (04/2018 - 04/2019)</p> 
            </div>
            <div class="col">
                <p>Provide excellent customer service and troubleshooting over the phone for various devices both mobile and home. Stay up to date on
                    current software and hardware issues and solutions to them. Follow-up with customers as needed to make sure their 
                    technical issue is resolved. When required gather detailed logs and information to submit to engineering and 
                    follow up with the engineering contact for new issues. 
                </p>
                <h5 class="faded">Skill Highlights</h5>
                <div class="col">
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="highlight">Customer Service</span></li>
                        <li class="list-inline-item"><span class="highlight">Remote Support</span></li>
                        <br>
                        <li class="list-inline-item"><span class="highlight">Software Troubleshooting</span></li>
                        <li class="list-inline-item"><span class="highlight">Hardware Diagnostics</span></li>
                    </ul>   
                </div>                
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-5">
                <p class="highlight">Cast Member | Regal Entertainment <br> (02/2018 - 04/2018)</p> 
            </div>
            <div class="col">
                <p>When working concessions my role included: Preparing drinks, popcorn, and other food for customers. Operating
                    a touch based POS system and maintained cleanliness of the work area and kitchen. As an Usher I performed theater 
                    and perimeter checks as well as maintained overall cleanliness of the theater.
                </p>

                <h5 class="faded">Skill Highlights</h5>
                <div class="col">
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="highlight">Customer Service</span></li>
                        <li class="list-inline-item"><span class="highlight">Team Work</span></li>
                        <br>
                        <li class="list-inline-item"><span class="highlight">Fast Pace</span></li>
                        <li class="list-inline-item"><span class="highlight">Basic Security</span></li>
                    </ul>   
                </div>                
            </div>
        </div>
        <hr>
        <div class="row">
            
            <div class="col-lg-5">
                <p class="highlight">Barista | Starbucks <br> (04/2017 - 01/2018)</p> 
            </div>
            <div class="col">
                <p>Provided excellent customer service and made each visit enjoyable. Cleaned the 
                    work and dining area regularly and thoroughly. Performed general closing tasks.
                    Prepared a wide range of drinks and food for customers.
                </p>

                <h5 class="faded">Skill Highlights</h5>
                <div class="col">
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="highlight">Customer Service</span></li>
                        <li class="list-inline-item"><span class="highlight">Team Work</span></li>
                        <br>
                        <li class="list-inline-item"><span class="highlight">Communication</span></li>
                        <li class="list-inline-item"><span class="highlight">Organization</span></li>
                    </ul>   
                </div>                
            </div>
        </div>
    </div>
</div>