<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md-9 offset-md-2">
        <h6 class="highlight">Hello, my name is</h6>
        <h1><b>Dylan Morgan</b></h1>
        <h2 class="faded">I build various software and websites!</h2>
        <p class="faded">
            In fact, this site was built by me! There was no real need to connect a database so sadly no <span class="highlight">MongoDB</span> or 
            <span class="highlight">Mongoose</span> here. But not every website needs this. If yours does however, rest assured I love using databases.
            Maybe you want a better internal site for <span class="highlight">inventory lookup and management</span>? Perhaps you just want to 
            update an old website that is not currently using <span class="highlight">Routes</span>. Need someone to just look into and <span class="highlight">Clean the UI</span>?
            Or maybe you are a new or existing business ready to branch out and <span class="highlight">Design Your Website From Start To Finish</span>
            These are just some of the things I can do in the world of <span class="highlight">Web Development</span>
        </p>

        <p class="faded">
            Web Development not what you are looking for? That's okay! I also do a <span class="highlight">Wide Variety Of Programming</span> 
            Are you looking for <span class="highlight">Console Based Applications</span> for your business? Working on a <span class="highlight">Video Game?</span> 
            I would love to hear about it and see how I could contribute! Have general questions for me? Check out the Contact tab! Want to know my history?
            Peruse the about section. Want to see some of the projects I have done? Yup I have that over on the Work tab. If you are wondering what my general skills are... 
            I am trained in using the following technologies: <br><br><span class="highlight">C++, C#, Java, Python, JavaScript, Node.js, Express.js, Mongoose, Ruby, SQL, MongoDB</span>
        </p>
    </div>
</div>