<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col">
        <!--Page heading and intro blurb-->
        <h4 class="highlight mb-4">Explore My Essential Service Packages!</h4>
        <p>
            Welcome to my pricing page! While I've put together these package options as general guidelines, I want you to know that 
            I'm always here to work closely with you on a case-by-case basis. These packages represent the essence of what I do and offer a 
            ballpark idea of costs. If you don't find a specific feature listed or if you're concerned about fitting within your budget, please 
            don't hesitate to reach out. Let's have a conversation about your unique requirements and what's achievable within your budget. My 
            priority is to deliver not just a product, but a remarkable experience. My goal is to create something of quality that brings pride 
            and happiness to everyone involved. Thank you for considering me as your partner in this journey!
        </p>
        <br><br>


        <!--WEB DEVELOPMENT PACKAGES-->
        <h5>Web Development Packages:</h5>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <!-- Basic Package Card Div -->
            <div class="col">
                <div class="card border border-3 h-100 border-info custom-color px-2 py-2">
                    <div class="card-body">
                        <h5 class="card-title highlight">Basic Package: Starter Site</h5>
                        <p class="card-text">
                            Get your digital presence up and running with my Starter Site package. Perfect for small businesses and 
                            individuals looking for a professional website without breaking the bank. You'll enjoy a beautifully designed, 
                            responsive website that covers all the essentials.
                        </p>
                        <ul>
                            <li>Ideal for small businesses and individuals</li>
                            <li>4-5 pages (Home, About, Services, Contact, Portfolio/Gallery)</li>
                            <li>Responsive design or mobile devices</li>
                            <li>Custom domain setup</li>
                            <li>Basic SEO optimization</li>
                            <li>Contact form integration</li>
                            <li>1 year of free upkeep and support</li>
                            <li>Price: $500</li>
                        </ul>
                    </div>
                    <!--Contact Area-->
                    <div class="d-grid gap-2">
                        <a class="btn btn-outline-info highlight-btn" rel="noopener noreferrer" href="mailto:dmorgan98101+app-dev@gmail.com?subject=Interested%20in%20Basic%20Website%20Package">Inquire!</a>
                    </div> 
                </div>
            </div>
            <!-- Standard Package Card Div -->
            <div class="col">
                <div class="card border border-3 h-100 border-info custom-color px-2 py-2">
                    <div class="card-body">
                        <h5 class="card-title highlight">Standard Package: Business Website</h5>
                        <p class="card-text">
                            Elevate your online presence with my Business Website package. Tailored for small to medium-sized businesses, this package offers a 
                            comprehensive solution to showcase your offerings, engage your audience, and establish credibility in the digital space.
                        </p>
                        <ul>
                            <li>Suitable for small to medium-sized businesses</li>
                            <li>6-10 pages (Home, About, Services, Portfolio, Testimonials, Blog, Contact, etc.)</li>
                            <li>Responsive design with attention to user experience</li>
                            <li>Custom domain setup and email integration</li>
                            <li>Advanced SEO optimization</li>
                            <li>Social media integration</li>
                            <li>Basic content management system (CMS)</li>
                            <li>1 year of free upkeep and support</li>
                            <li>Price: $1000</li>
                        </ul>
                    </div>
                    <!--Contact Area-->
                    <div class="d-grid gap-2">
                        <a class="btn btn-outline-info highlight-btn" rel="noopener noreferrer" href="mailto:dmorgan98101+app-dev@gmail.com?subject=Interested%20in%20Standard%20Website%20Package">Inquire!</a>
                    </div> 
                </div>
            </div>
            <!-- Premium Package Card Div -->
            <div class="col">
                <div class="card border border-3 h-100 border-info custom-color px-2 py-2">
                    <div class="card-body">
                        <h5 class="card-title highlight">Premium Package: E-Commerce Site</h5>
                        <p class="card-text">
                            Ready to take your business to the next level? My E-Commerce Site package is designed for businesses looking to sell products online. 
                            This package includes all the features you need to create a seamless shopping experience for your customers and boost your online sales.
                        </p>
                        <ul>
                            <li>Designed for businesses looking to sell products online</li>
                            <li>10+ pages (Home, About, Products/Services, Blog, COntact, etc.)</li>
                            <li>E-commerce functionality with product listings, cart, and checkout</li>
                            <li>Payment gateway integration (Paypal, Stripe, etc)</li>
                            <li>Inventory Management</li>
                            <li>Advanced SEO and conversion optimization</li>
                            <li>Content management system with product management capabilities</li>
                            <li>1 year of free upkeep and support</li>
                            <li>Price: $1800</li>
                        </ul>
                    </div>
                    <!--Contact Area-->
                    <div class="d-grid gap-2">
                        <a class="btn btn-outline-info highlight-btn" rel="noopener noreferrer" href="mailto:dmorgan98101+app-dev@gmail.com?subject=Interested%20in%20Premium%20Website%20Package">Inquire!</a>
                    </div> 
                </div>
            </div>
             <!--Add-Ons Card Div -->
             <div class="col">
                <div class="card border border-3 h-100 border-info custom-color px-2 py-2">
                    <div class="card-body">
                        <h5 class="card-title highlight">Add-Ons (Flat Rate)</h5>
                        <p class="card-text">
                            Enhance your chosen package with these add-ons to tailor your website exactly to your needs. Mix and match to create a unique online presence
                            that reflects your brand and engages your audience.
                        </p>
                        <ul>
                            <li><b>Additional Web Pages ($50/Page):</b>  Extend your website's reach with extra pages tailored to your content. Perfect for expanding your offerings, 
                                showcasing projects, or sharing valuable information.
                            </li>

                            <li><b>Blog Setup ($150):</b> Establish yourself as an industry authority with a dedicated blog section. Share insights, updates, and valuable content
                                 to engage your visitors and improve your SEO.
                            </li>

                            <li><b>Advanced SEO Audit And Implementation ($200):</b>
                                Boost your website's visibility with an in-depth SEO analysis and optimization. Reach more potential clients and improve your search engine 
                                rankings.
                            </li>

                            <li><b>Custom Graphics And Branding ($250):</b> Stand out from the crowd with personalized graphics and branding elements that resonate with your target audience. 
                                Make a memorable first impression.
                            </li>

                            <li><b>Logo Design ($300):</b> A well-designed logo is the cornerstone of your brand identity. Let us create a logo that captures the 
                                essence of your business and leaves a lasting impact.
                            </li>

                            <li><b>Additional Year Of Upkeep And Support ($100-250/Year):</b> Extend the peace of mind that comes with my upkeep and support services for an additional year. 
                                I'm here to ensure your website stays updated and functional.
                            </li>
                        </ul>
                    </div>
                    <!--Contact Area-->
                    <div class="d-grid gap-2">
                        <a class="btn btn-outline-info highlight-btn" rel="noopener noreferrer" href="mailto:dmorgan98101+app-dev@gmail.com?subject=Regarding%20Website%20Package%20Addons">Inquire!</a>
                    </div> 
                </div>
            </div>
        </div>
        <br><br>


        <!--APP DEVELOPMENT PACKAGES-->
        <h5>Mobile App Development Packages:</h5>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <!-- Basic Package Card Div -->
            <div class="col">
                <div class="card border border-3 h-100 border-info custom-color px-2 py-2">
                    <div class="card-body">
                        <h5 class="card-title highlight">Basic Package: Simple Mobile App</h5>
                        <p class="card-text">
                            Introducing my Simple Mobile App package, perfect for startups and individuals looking to make their mark in the app world. 
                            With a focus on essential features, you'll have a user-friendly app that delivers your message and engages your audience.
                        </p>
                        <ul>
                            <li>Ideal for startups and individuals looking for a basic app presence </li>
                            <li>Single-platform development (iOS or Android)</li>
                            <li>Up to 5 screens</li>
                            <li>Basic UI/UX design</li>
                            <li>App functionality: Contact information, simple forms, basic features</li>
                            <li>App store submission assistance</li>
                            <li>1 year of free upkeep and support</li>
                            <li>Price: $800-1000</li>
                        </ul>
                    </div>
                    <!--Contact Area-->
                    <div class="d-grid gap-2">
                        <a class="btn btn-outline-info highlight-btn" rel="noopener noreferrer" href="mailto:dmorgan98101+app-dev@gmail.com?subject=Interested%20in%20Basic%20App%20Package">Inquire!</a>
                    </div> 
                </div>
            </div>
            <!--Standard Package Card Div-->
             <div class="col">
                <div class="card border border-3 h-100 border-info custom-color px-2 py-2">
                    <div class="card-body">
                        <h5 class="card-title highlight">Standard Package: Multi-Platform App</h5>
                        <p class="card-text">
                            Elevate your app presence with my Multi-Platform App package, designed for businesses that want to reach audiences on both iOS and Android. 
                            This package offers enhanced functionality, a polished user experience, and the opportunity to connect with a broader user base.
                        </p>
                        <ul>
                            <li>Suitable for businesses seeking a presence on both iOS and Android platforms</li>
                            <li>Up to 10 screens</li>
                            <li>Enhanced UI/UX design</li>
                            <li>App functionality: User registration/login, basic database integration, interactive elements</li>
                            <li>Push notification integration</li>
                            <li>App store submission assistance</li>
                            <li>1 year of free upkeep and support</li>
                            <li>Price: $800-1000</li>
                        </ul>
                    </div>
                    <!--Contact Area-->
                    <div class="d-grid gap-2">
                        <a class="btn btn-outline-info highlight-btn" rel="noopener noreferrer" href="mailto:dmorgan98101+app-dev@gmail.com?subject=Interested%20in%20Standard%20App%20Package">Inquire!</a>
                    </div> 
                </div>
            </div>
             <!--Premium Package Card Div-->
             <div class="col">
                <div class="card border border-3 h-100 border-info custom-color px-2 py-2">
                    <div class="card-body">
                        <h5 class="card-title highlight">Premium Package: Enhanced App Experience</h5>
                        <p class="card-text">
                            Experience the epitome of app excellence with my Enhanced App Experience package. Crafted for businesses seeking a standout app, 
                            this package combines advanced features, custom design, and cutting-edge technology to deliver an app that's both powerful and captivating.
                        </p>
                        <ul>
                            <li>Designed for businesses requiring a more sophisticated app experience</li>
                            <li>Up to 20 screens</li>
                            <li>Custom UI/UX design with attention to user flows</li>
                            <li>App functionality: User authentication, in-app purchases, advanced database integration, API integration</li>
                            <li>Advanced features: Maps integration, social media sharing, multimedia content</li>
                            <li>Push notification integration and analytics setup</li>
                            <li>App store submission assistance</li>
                            <li>1 year of free upkeep and support</li>
                            <li>Price: $2500-3000</li>
                        </ul>
                    </div>
                    <!--Contact Area-->
                    <div class="d-grid gap-2">
                        <a class="btn btn-outline-info highlight-btn" rel="noopener noreferrer" href="mailto:dmorgan98101+app-dev@gmail.com?subject=Interested%20in%20Premium%20App%20Package">Inquire!</a>
                    </div> 
                </div>   
            </div>

            <!--Add-Ons Package Card Div-->
            <div class="col">
                <div class="card border border-3 h-100 border-info custom-color px-2 py-2">
                    <div class="card-body">
                        <h5 class="card-title highlight">Add-Ons (Flat Rate)</h5>
                        <p class="card-text">
                            Enhance your chosen app package with these valuable add-ons. Tailor your app to meet your specific needs and create a truly remarkable mobile 
                            experience.
                        </p>
                        <ul>
                            <li><b>Additional Screens ($100/Screen):</b> Extend your app's functionalitywith extra screens. Perfect for adding more features, showcasing content, 
                                or enhancing user interactions.</li>
                                
                            <li><b>Custom Graphics And Branding ($200):</b> Ensure your app's visual identity aligns with your brand. Custom graphics and branding elements create 
                                a consistent and memorable user experience.
                            </li>

                            <li><b>Backend Development And API Integration ($300-500):</b> Connect your app to the backend for seamless data management and integration with external 
                                services. Unlock advanced features and functionalities.
                            </li>

                            <li><b>In-App Purchases Setup ($150):</b>  Monetize your app by offering in-app purchases. This add-on enables you to generate revenue while providing value to your users.
                            </li>

                            <li><b>Push Notification Service Integration ($100):</b> Keep your users engaged with timely notifications. This integration lets you reach your audience even when they're not actively using your app.
                            </li>

                            <li><b>Additional Year Of Upkeep And Support ($200-400/Year):</b> Extend the assurance of my upkeep and support services for another year. I'm committed to keeping your app 
                                up-to-date and performing at its best.
                            </li>
                        </ul>
                    </div>
                    <!--Contact Area-->
                    <div class="d-grid gap-2">
                        <a class="btn btn-outline-info highlight-btn" rel="noopener noreferrer" href="mailto:dmorgan98101+app-dev@gmail.com?subject=Regarding%20App%20Package%20Addons">Inquire!</a>
                    </div> 
                </div>
            </div>
        </div>
        <br>
        <!--CLOSING COL AND ROW DIVS-->
    </div>
</div>









