<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col">
    <!--Page Heading-->
    <h4 class="highlight mb-4">Some Of My Hobby Projects!</h4>

    <!--Setting up page grid, 2 'cards' per row if size is md or greater, 1 otherwise-->
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <!--Flappy Clone -->
      <div class="col">
        <div
          class="card border border-3 h-100 border-info custom-color px-3 py-3"
        >
          <img src="/imgs/FlappyClone.png" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title highlight">Flappy Clone</h5>
            <p class="card-text">
              A functional clone of Flappy Bird implemented using
              <span class="highlight">C++</span> and
              <span class="highlight">SFML 2.6</span>
              I started on this project to showcase a few different skills.
              Beyond just the programming languages I wanted to utilize a few
              different common
              <span class="highlight">software design patterns.</span> You will
              find some
              <span class="highlight"
                >singletons, an observer pattern, a state machine, etc.</span
              >
            </p>
          </div>
          <ul>
            <li class="list-inline-item">
              <small class="card-text faded">C++</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">SFML</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">VS Code</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Software Design Patterns</small>
            </li>
          </ul>
          <div class="d-grid gap-2 mb-3 mt-3">
            <a
              class="btn btn-outline-info highlight-btn"
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/vaeleborne/FlappyClone"
              >View On Github</a
            >
          </div>
        </div>
      </div>

      <!--Dungeon Delver-->
      <div class="col">
        <div
          class="card border border-3 h-100 border-info custom-color px-3 py-3"
        >
          <img src="/imgs/DungeonDelver.png" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title highlight">Dungeon Delver</h5>
            <p class="card-text">
              This is my most current project. I am working on creating an in
              depth turn-based terminal based RPG. I am utilizing
              <span class="highlight">C++ 20</span> as the primary language. A
              primary focus on this project is a self imposed
              <span class="highlight">AGILE</span> development. I am using
              <span class="highlight">Google Test</span> for my testing. I am
              also utilizing numerous
              <span class="highlight">Software Design Patterns</span> to make
              higher quality software here. I am also using the
              <span class="highlight">JSON For Modern C++</span> library to
              utilize json files for data saving and loading.
            </p>
          </div>
          <ul>
            <li class="list-inline-item">
              <small class="card-text faded">C++</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Smart Pointers</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">AGILE</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Software Design Patterns</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">JSON</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Visual Studio</small>
            </li>
          </ul>
          <div class="d-grid gap-2 mb-3 mt-3">
            <a
              class="btn btn-outline-info highlight-btn"
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/vaeleborne/DungeonDelver"
              >View On Github</a
            >
          </div>
        </div>
      </div>

      <!--Formithlum RPG Card Div -->
      <div class="col">
        <div
          class="card border border-3 h-100 border-info custom-color px-3 py-3"
        >
          <img src="/imgs/formithlum.png" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title highlight">Formithlum RPG</h5>
            <p class="card-text">
              A WIP turn based RPG using RPG Maker as a base for assets. I am
              implementing lots of custom
              <span class="highlight">Ruby</span> scripts for a variety of
              purposes. Such as: Day and Night Cycle, Custom Crafting, Fishing,
              Camping, Mining, etc. The story is based on one that I am actively
              writing but has been in my mind since 7th grade. I am also slowly
              adding custom pixel art to use and give the project more of my
              <i>flair</i>
            </p>
          </div>
          <ul>
            <li class="list-inline-item">
              <small class="card-text faded">Ruby</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Piskel</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">VS Code</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">RPG Maker</small>
            </li>
          </ul>
          <div class="d-grid gap-2 mb-3 mt-3">
            <a
              class="btn btn-outline-info highlight-btn"
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/vaeleborne/Formithlum"
              >View On Github</a
            >
          </div>
        </div>
      </div>

      <!--Logisim 4-Bit Counter Circuit Card Div-->
      <div class="col">
        <div
          class="card border border-3 h-100 border-info custom-color px-3 py-3"
        >
          <img src="/imgs/four_bit_counter.png" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title highlight">
              4-Bit Counter Circuit in Logisim
            </h5>
            <p class="card-text">
              I set out to make a fun little 4 bit counter that utilizes 2
              7-Segment displays. Using
              <span class="highlight">Logisim</span> to design the circuit, I
              started with some base rules for myself. I am to only use 2-Input
              gates rather than the more practical 3, 4, or 5 input gates. I
              also want to have 4 Led's that represent the 4-Bit Binary number.
              I utilized <span class="highlight">JK Flip Flops</span> for
              delayed clock speeds to achieve this result. The output of each
              flipflop corresponds to the opposite value of it's labeled
              position. Ie, when flipflop one (2^0)' is 1, the value for the
              binary number at that bit is 0.
            </p>
          </div>
          <ul>
            <li class="list-inline-item">
              <small class="card-text faded">Logisim</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Truth Tables</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Logic Gates</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Circuitry</small>
            </li>
          </ul>
          <div class="d-grid gap-2 mb-3 mt-3">
            <a
              class="btn btn-outline-info highlight-btn"
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/vaeleborne/Four_Bit_7_Segment_Counter_Circuit"
              >View On Github</a
            >
          </div>
        </div>
      </div>

      <!--Linked List Str in C Card Div-->
      <div class="col">
        <div
          class="card border border-3 h-100 border-info custom-color px-3 py-3"
        >
          <img
            src="/imgs/linked_list_string_example.png"
            class="card-img-top"
            alt=""
          />
          <div class="card-body">
            <h5 class="card-title highlight">
              C Linked List Basic String Type
            </h5>
            <p class="card-text">
              To practice using
              <span class="highlight">Linked Lists and C</span> I started
              working on this program. It defines a Str type that has basic
              functionality. functionality includes, creating, appending,
              deleting, inserting, and printing. Both the deletion and insertion
              functions also have a recursive version. This project also
              involved proper use of
              <span class="highlight">Memory Allocation and Deallocation.</span>
            </p>
          </div>
          <ul>
            <li class="list-inline-item">
              <small class="card-text faded">C</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Code Blocks</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Linked Lists</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Memory Allocation</small>
            </li>
          </ul>
          <div class="d-grid gap-2 mb-3 mt-3">
            <a
              class="btn btn-outline-info highlight-btn"
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/vaeleborne/Linked_List_Str"
              >View On Github</a
            >
          </div>
        </div>
      </div>

      <!--Brick Breaker Card Div-->
      <div class="col">
        <div
          class="card border border-3 h-100 border-info custom-color px-3 py-3"
        >
          <img src="/imgs/BrickBreakGame.png" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title highlight">Brick Break Clone</h5>
            <p class="card-text">
              A clone of the classic game, I wanted to make my version using
              SFML! The project highlights gamestates, scorekeeping, player
              input, etc. I was able to utilize
              <span class="highlight">SFML for graphics and audio.</span> I also
              utilized the graphics library to make simple physics for
              collisions.
            </p>
          </div>
          <ul>
            <li class="list-inline-item">
              <small class="card-text faded">C++</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Visual Studio</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">SFML</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">OOP</small>
            </li>
          </ul>
          <div class="d-grid gap-2 mb-3 mt-3">
            <a
              class="btn btn-outline-info highlight-btn"
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/vaeleborne/BrickBreaker"
              >View On Github</a
            >
          </div>
        </div>
      </div>

      <!--C++ Tutorials Card Div-->
      <div class="col">
        <div
          class="card border border-3 border-info h-100 custom-color px-3 py-3"
        >
          <img src="/imgs/tutorials.png" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title highlight">C++ Tutorials</h5>
            <p class="card-text">
              Here I have the first handful of projects I am putting together
              for a tutorial series! I have the goal of making it heavily
              project based with several prompts for side projects to get
              practice with what was covered so far. I have found when I learn
              online, many tutorials do not offer that many working projects.
              Most have small segments followed by one or two LARGE projects. My
              goal is to leave the learner with their
              <span class="highlight">new skills </span> and many small to
              medium projects that set them up to complete one or two large ones
              on their own or with me. Starting from simple
              <span class="highlight">Command Line Projects</span> by the end of
              the series we will be making
              <span class="highlight">2D SFML Games</span> and touch on learning
              <span class="highlight">OpenGL</span> for 3D applications
            </p>
          </div>
          <ul>
            <li class="list-inline-item">
              <small class="card-text faded">C++</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Visual Studio</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">OOP</small>
            </li>
          </ul>

          <div class="d-grid gap-2 mb-3 mt-3">
            <a
              class="btn btn-outline-info highlight-btn"
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/vaeleborn/C_Plus_Plus_Tutorials"
              >View On Github</a
            >
          </div>
        </div>
      </div>

      <!--Season Getter Card Div-->
      <div class="col">
        <div
          class="card border border-3 h-100 border-info custom-color px-3 py-3"
        >
          <img src="/imgs/season_getter.png" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title highlight">Season Getter</h5>
            <p class="card-text">
              A <span class="highlight">python</span> project designed for a
              user to type in a month, then the day to see what season it falls
              in. As is, the program assumes we are looking for the season in
              the northern hemisphere, future update may get a third input to
              correct this. Purpose was to practice python and look for an
              efficient method of finding which season a date falls on.
            </p>
          </div>
          <ul>
            <li class="list-inline-item">
              <small class="card-text faded">Python</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Pycharm</small>
            </li>
            <li class="list-inline-item">
              <small class="card-text faded">Problem Solving</small>
            </li>
          </ul>
          <div class="d-grid gap-2 mb-3 mt-3">
            <a
              class="btn btn-outline-info highlight-btn"
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/vaeleborne/Python-Season-Getter"
              >View On Github</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--Closing COL and ROW divs-->
  </div>
</div>

<br />
<br />
