<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col">
        <h6 class="highlight mb-4">Some of my hobby Projects!</h6>

        <div class="row row-cols-1 row-cols-md-2 g-4">

            <div class="col">
                <div class="card border border-3 h-100 border-info custom-color px-2 py-2">
                  <img src="/imgs/formithlum.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title highlight">Formithlum RPG</h5>
                    <p class="card-text">A WIP turn based RPG using RPG Maker as a base for assets. I am implementing lots of custom <span class="highlight">Ruby</span>
                        scripts for a variety of purposes. Such as: Day and Night Cycle, Custom Crafting, Fishing, Camping, Mining, etc. The story is based on one that I am
                        actively writing but has been in my mind since 7th grade. I am also slowly adding custom pixel art to use and give the project more of my <i>flair</i>
                    </p>
                  </div>
                  <ul>
                      <li class="list-inline-item"><small class="card-text faded">Ruby</small></li>
                      <li class="list-inline-item"><small class="card-text faded">Piskel</small></li>
                      <li class="list-inline-item"><small class="card-text faded">VS Code</small></li>
                      <li class="list-inline-item"><small class="card-text faded">RPG Maker</small></li>
                  </ul>
                  <div class="d-grid gap-2 mb-5 mt-3">
                      <a class="btn btn-outline-info highlight-btn" target="_blank" rel="noopener noreferrer" href="https://github.com/vaeleborne/Formithlum">View On Github</a>
                  </div>  
                </div>
              </div>

            <div class="col">
              <div class="card border border-3 border-info h-100 custom-color px-2 py-2">
                <img src="/imgs/tutorials.png" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title highlight">C++ Tutorials</h5>
                  <p class="card-text">Here I have the first handful of projects I am putting together for a tutorial series!
                    I have the goal of making it heavily project based with several prompts for side projects to get practice
                    with what was covered so far. I have found when I learn online, many tutorials do not offer that many working projects.
                    Most have small segments followed by one or two LARGE projects. My goal is to leave the learner with their <span class="highlight">new skills </span> and 
                    many small to medium projects that set them up to complete one or two large ones on their own or with me. Starting from 
                    simple <span class="highlight">Command Line Projects</span> by the end of the series we will be making <span class="highlight">2D SFML Games</span> and
                    touch on learning <span class="highlight">OpenGL</span> for 3D applications</p>
                </div>
                <ul>
                    <li class="list-inline-item"><small class="card-text faded">C++</small></li>
                    <li class="list-inline-item"><small class="card-text faded">Visual Studio</small></li>
                    <li class="list-inline-item"><small class="card-text faded">OOP</small></li>
                </ul>
                
                <div class="d-grid gap-2 mb-5 mt-3">
                    <a class="btn btn-outline-info highlight-btn" target="_blank" rel="noopener noreferrer" href="https://github.com/vaeleborn/C_Plus_Plus_Tutorials">View On Github</a>
                </div>  
              </div>
            </div>

            <div class="col">
              <div class="card border border-3 h-100 border-info custom-color px-2 py-2">
                <img src="/imgs/creatureScaling.png" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title highlight">D&D DM Tool To Create Stats Based On CR</h5>
                  <p class="card-text">A very simple tool used for custom D&D campaigns to help me easily come up with stats for creatures and NPCs 
                    based on a CR rating. I created this to help me adjust encounters on the fly with minimal time spent. This allows me to adapt to 
                    having less (or more) players than expected. This was one of my first delves into <span class="highlight">Windows Form Applications</span>
                    and has come in handy many a time.
                  </p>
                </div>
                <ul>
                    <li class="list-inline-item"><small class="card-text faded">C#</small></li>
                    <li class="list-inline-item"><small class="card-text faded">Visual Studio</small></li>
                    <li class="list-inline-item"><small class="card-text faded">Windows Form Application</small></li>
                    <li class="list-inline-item"><small class="card-text faded">XML</small></li>
                </ul>
                <div class="d-grid gap-2 mb-5 mt-3">
                    <a class="btn btn-outline-info highlight-btn" target="_blank" rel="noopener noreferrer" href="https://github.com/vaeleborne/CreatureScaler">View On Github</a>
                </div>  
              </div>
            </div>


            <div class="col">
                <div class="card border border-3 h-100 border-info custom-color px-2 py-2">
                  <img src="/imgs/diceRoller.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title highlight">D&D Dice Roller</h5>
                    <p class="card-text">A simple but ever useful diceroller. I wanted to make a native app that did
                        not need an internet connection to help with lots of dice rolls for my campaign. I probably could have
                        found one with a quick search, however I saw this as another opportunity to practice C# and Windows Form Applications.
                        The app saves rolls in a display that you can clear, it lets you choose a dice and whether or not you have advantage or disadvantage.
                    </p>
                  </div>
                  <ul>
                      <li class="list-inline-item"><small class="card-text faded">C#</small></li>
                      <li class="list-inline-item"><small class="card-text faded">Visual Studio</small></li>
                      <li class="list-inline-item"><small class="card-text faded">Windows Form Application</small></li>
                      <li class="list-inline-item"><small class="card-text faded">XML</small></li>
                  </ul>
                  <div class="d-grid gap-2 mb-5 mt-3">
                      <a class="btn btn-outline-info highlight-btn" target="_blank" rel="noopener noreferrer" href="https://github.com/vaeleborne/DiceRoller">View On Github</a>
                  </div>  
                </div>
              </div>

             
            

       
        

        
    </div>

    </div>
</div>