:root {
  --bg-main: #0a2636;
  --primary: #d2d2d2;
  --primary-faded: #959191;
  --color-bright: #0af7c4;
  --primary-hover: #ffffff;
  --secondary-hover: #5eaca8;
  --secondary: #031e2e;
}

.card.custom-color {
  background-color: var(--secondary);
}

.btn-outline-info.highlight-btn {
  color: var(--color-bright);
  border-color: var(--color-bright);
}

.btn-outline-info.highlight-btn:hover {
  border-color: var(--color-bright);
  background-color: var(--color-bright);
}

#main-footer {
  background-color: var(--secondary);
}

body {
  background-color: var(--bg-main);
  color: var(--primary);
}

.highlight {
  color: var(--color-bright);
}

.faded {
  color: var(--primary-faded);
}

.navbar {
  background: var(--secondary);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--primary);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--primary-hover);
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: var(--primary);
}

.navbar-dark .navbar-brand {
  color: var(--primary);
}

.navbar-dark .navbar-brand:focus {
  color: var(--primary);
}

.navbar-dark .navbar-brand:hover {
  color: var(--primary-hover);
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: var(--primary);
  font-weight: bold;
  font-size: large;
}

.sociallink {
  display: inline-block;
  margin-left: 5px;
  text-decoration: none;
}
